.text-2xl {
  font-size: 2rem;
  line-height: 2rem;
}

.w-24 {
  width: 8rem;
}

.h-24 {
  height: 8rem;
}
.icon-button:hover .h-8 {
  fill: #6366f1;
  transform: scale(1.2);
}
.icon-link:hover .h-8 {
  fill: #6366f1; /* Change the fill color to your desired color */
  transform: scale(1.2);
}
